// gruvbox
$bg0_h: #1d2021;
$bg0_s: #32302f;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;
$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

$red: #cc241d;
$blue: #458588;

* {
  all: unset;
  font-size: 20px;
  font-family: FiraCode Nerd Font Mono;
}

.background {
  background-color: $bg0;
  color: $fg4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.clock_listener {
  color: blue;
}

.workspaces {
  padding: 0px;
}

.workspace-active .workspace-unused {
  color: $fg4;
}

.workspace-used {
  color: $bg4;
}

.icon {
}

.fcitx > .icon {
  margin-bottom: -8px;
  font-size: 24px;
}

.fcitx > label {
  margin-bottom: -4px;
}

.fcitx {
  margin-bottom: 10px;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;                                notification deamon                                   ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
*/

.notif {
  min-width: 650px;
  min-height: 200px;
  margin-bottom: 10px;
  background-color: $bg0;
  border: solid $bg3 2px;
  //padding: 10px;
}

.notification_box,
.notifications {
  background-color: transparent;
}
