// gruvbox
$bg0_h: #1d2021;
$bg0_s: #32302f;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;
$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

$red: #cc241d;
$blue: #458588;

* {
  all: unset;
  font-family: FiraCode Nerd Font Mono;
  font-size: 18px;
  border-radius: 10px;
}

.background {
  border: 2px solid $bg1;
  background-color: rgba($bg0_h, 0.2);
  color: $fg4;
}

.workspaces,
.left,
.right {
  padding: 10px;
  background-color: $bg0_h;
}

.workspace-active .workspace-unused {
  color: $fg4;
}

.workspace-used {
  color: $bg4;
}
