/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;                                notification deamon                                   ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
*/

.notif {
  min-width: 580px;
  min-height: 200px;
  margin-bottom: 10px;
  background-color: rgba(40, 40, 40, 0.4);
  border: solid $bg3 2px;
  padding: 10px;
}

.notification_box,
.notifications {
  color: $fg4;
  background-color: transparent;
}
