# Blacklist
/*

# Whitelist
!eww/
!firefox/
!fcitx5/
!hypr/
!kitty/
!neofetch/
!nvim/
!scripts/
!zsh/
!読みたん/

!iris/

!.gitignore
!README.md

# Files
*.dir_colors
*.zcompdump
*.zhistory
*.zlogin
*.webm
*.mov
