# Blacklist
/*

# Whitelist dirs
!assets/
!eww/
!firefox/
!ghostty/
!hypr/
!pypr/
!kitty/
!luacheck/
!nvim/
!scripts/
!ssh/
!tex/
!zsh/
!読みたん/

# Whitelist files
!.gitignore
!user-dirs.dirs
!README.md

# Files/dirs to be excluded
*.zcompdump
*.zhistory
*.webm
*.mov
nvim/lazy-lock.json
