# Blacklist
/*

# Whitelist
!asset/
!eww/
!fcitx5/
!firefox/
!fonts/
!hypr/
!kitty/
!neofetch/
!nvim/
!scripts/
!spicetify/
!zathyrarc/
!zsh/
!読みたん/

!iris/

!.gitignore
!README.md

# Files
*.zcompdump
*.zhistory
*.zlogin
*.webm
*.mov
nvim/lazy-lock.json
spicetify/Extracted/*
