* {
  font-family: FontAwesome, Cica;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
}

#waybar > box {
  margin: 0px 0px 6px 0px;
  box-shadow: 6px 6px 4px 0px rgba(15, 15, 15, 0.4);
  background-color: rgba(50, 48, 47, 0.4);
  /*
  background-color: rgba(242, 229, 188, 0.4);
  */
  transition-property: background-color;
  transition-duration: 0.5s;
}

#window,
#clock,
#backlight,
#workspace,
#ttt {
  margin: 0px;
  margin-left: 100px;
  background-color: #1d2021;
  border-radius: 6px;
}

#test {
  background-color: #504945;

  min-width: 70px;
  margin: 6px;
  border-radius: 4px;
}

#custom-battery {
  border-radius: 4px;
  background-color: #bdae93;

  min-width: 20px;
  min-height: 20px;
}

#battery {
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0);

  border-radius: 0px 2px 2px 0px;
  margin: 4px;
  margin-left: 0px;
  min-width: 64px;
}

#custom-Q,
#custom-E {
  margin: 6px;
  background-color: #504945;
  color: #ebdbb2;
  border-radius: 4px;

  min-width: 24px;
  min-height: 24px;
}

#workspaces {
  margin: 2px;
  font-weight: bold;
}

#workspaces button {
  border: none;
  border-radius: 0;
  color: #d3c6aa;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: #504945;
  color: #ebdbb2;
  box-shadow: inset 0px -3px #ebdbb2;

  transition: all 0.3s ease-in-out;
}

#workspaces button.focused {
  background-color: #a7c080;
}

#workspaces button:hover {
  background: #bdae93;
  color: #504945;
  box-shadow: inset 0px -3px #504945;

  text-shadow: inherit;
  border: none;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
