/* ----------------------------------------------------
 *                      shape
 * ---------------------------------------------------- */

:root {
  --radius: 0px;
  --padding: 10px;
  --splitter-width: 3px;
  --gb: #00000000;
}

#sidebar-launcher-splitter,
#sidebar-panel-header,
#back-button,
#forward-button,
#sidebar-main
{
  display: none !important;
}

#sidebar-box {
  padding: 0px !important;
  min-width: 40px !important;
}

#sidebar-splitter {
  border: 0px !important;
  width: var(--splitter-width) !important;
  margin-right: calc(var(--padding) - var(--splitter-width)) !important;
}

#main-window > body {
  background-color: var(--bg) !important;
  padding: var(--padding) !important;
  height: calc(100vh - var(--padding) * 2) !important;
  width: calc(100vm - var(--padding)) !important;
}

#navigator-toolbox {
  margin-bottom: var(--padding)
}

#browser,
#main-window ,
#tabbrowser-tabpanels {
  background: none !important;
}

findbar {
  margin-top: var(--padding)
}

#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: none !important;
}

findbar,
.browserStack > browser,
#navigator-toolbox,
#sidebar{
  border-radius: var(--radius) !important; 
}
