:root {
  --radius: 5px;
  /* --padding: 10px; */
  --padding: 5px;

  --splitter-width: 3px;
  --bg: #28282899;
  --max-url-width: 600px;

  --toolbox-bgcolor-inactive: var(--toolbox-bgcolor) !important;
  --sidebar-background-color: var(--toolbox-bgcolor-inactive) !important;
  --sidebar-text-color: var(--lwt-text-color) !important;
  --sidebar-border-color: var(--toolbar-field-border-color) !important;

  --tabs-navbar-separator-color: ThreeDShadow;
  --tabs-navbar-separator-style: solid;

  --short-notification-background: #0250bb;
  --short-notification-gradient: #9059ff;
  --warning-icon-bgcolor: light-dark(#ffa436, #ffbd4f);
}

#sidebar-launcher-splitter,
#sidebar-panel-header,
#back-button,
#forward-button,
#sidebar-main
{
  display: none !important;
}

#sidebar-box {
  padding: 0px !important;
  min-width: 40px !important;
}

#sidebar-splitter {
  border: 0px !important;
  width: var(--splitter-width) !important;
  margin-right: calc(var(--padding) - var(--splitter-width)) !important;
}

#main-window > body {
  background-color: var(--bg) !important;
  padding: var(--padding) !important;
  height: calc(100vh - var(--padding) * 2) !important;
  width: calc(100vm - var(--padding)) !important;
}

#navigator-toolbox {
  margin-bottom: var(--padding)
}

#browser,
.browserContainer,
#main-window ,
#tabbrowser-tabpanels {
  background: none !important;
}

.browserContainer{
  outline: none !important;
  box-shadow: none !important;
}

findbar {
  margin-top: var(--padding)
}

#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: none !important;
}

findbar,
.browserStack > browser,
#navigator-toolbox,
#sidebar{
  border-radius: var(--radius) !important; 
}

#urlbar-container {
  max-width: var(--max-url-width) !important;
  margin-left: calc(50% - var(--max-url-width) / 2) !important;
}

toolbarspring {
  max-width: none !important;
  width: 100% !important;
}

#fxa-toolbar-menu-button {
  padding-left: 8px !important
}

#PanelUI-menu-button {
  padding-left: 0px !important
}
