* {
}

#background {
  margin: 0;
  padding: 0;
  background-color: rgba(20, 20, 20, 0);
}

#test-module {
  color: pink;
  background-color: pink;
}

#test-module:hover {
  color: lime;
  background-color: lime;
}

#real_name-label {
  color: red;
}

.row-label {
  color: blue;
  background-color: red;
}

#test {
  /*background-color: red;
  color: blue;*/
}
