.titlebar-buttonbox-container {
  display: none !important;
}

#forward-button,
#tabbrowser-arrowscrollbox-periphery,
#back-button {
  display: none !important;
}

#nav-bar {
  margin-left: calc((100vw - 500px) / 2) !important;
  margin-right: 0 !important;
}

#urlbar {
  width: 500px !important;
}

/*--- bookmarks ---*/
/*--- slider --- */
#sidebar-splitter {
  background-color: transparent !important;
  width: 1px !important;
}

/*---------------*/

#sidebar-title {
  font-size: 12px !important;
}

#sidebar-icon {
  width: 12px !important;
  height: 12px !important;
}

#sidebar-close,
image.textbox-search-clear,
image.textbox-search-sign {
  display: none !important;
}

#search-box {
  font-size: 12px !important;
}

.item-title-container {
  padding-left: 12px !important;
}

#sidebar-search-container,
.sidebar-placesTree {
  color: #bdae93!important;
}

/*-----------------*/
