.titlebar-buttonbox-container,
#sidebar-close,
image.textbox-search-clear,
image.textbox-search-sign,
#forward-button,
#tabbrowser-arrowscrollbox-periphery,
#back-button,
#search-box {
  display: none !important;
}

#main-window:not([lwtheme]) #unified-extensions-button,
#main-window[lwtheme="true"] #unified-extensions-button {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg") !important;
}

#urlbar-container {
  max-width: 450px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

#nav-bar {
  margin-right: 0px !important;
}

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  #main-window[sizemode="fullscreen"] #TabsToolbar-customization-target {
    margin: 6px 6px 6px 6px !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    height: calc(100% - 12px) !important;
  }
}

@media (-moz-bool-pref: "ultima.tabs.vertical") {
  #TabsToolbar-customization-target {
    top: var(--uc-navbar-height);
    margin: 6px 6px 6px 6px !important;
    top: 42px !important;
    bottom: 0 !important;
    left: 0 !important;
    height: calc(100% - 12px - 42px) !important;
  }
}

.browserStack {
  margin-top: 1px !important;
  margin-left: 2px !important;
}

#main-window[sizemode="fullscreen"] .browserStack {
  margin-top: 0px !important;
}
