/* Import colorscheme */
@import "/home/alexe/.config/firefox/blur.css";
@import "/home/alexe/.config/firefox/const.css";

:root {
  --navbarWidth: 550px;
  --animationSpeed: 0.5s;

  --tab-min-height: 0px;
  --inline-tab-padding: 0px;
  --tab-border-radius: 0px;
  --tab-shadow-max-size: 0px;
  --tab-block-margin: 0px;
  --toolbarbutton-outer-padding: 0px;
}

/* Hide buttons */
/*
#back-button[disabled="true"] {
  display: none !important;
}

#forward-button[disabled="true"] {
  display: none !important;
}
*/

#back-button {
  display: none !important;
}

#forward-button {
  display: none !important;
}

#titlebar-spacer {
  display: none !important;
}

#browser-window-close-button {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

.titlebar-spacer {
  display: none !important;
}

#TabsToolbar {
  margin-right: var(--navbarWidth) !important;
}

#nav-bar {
  margin-left: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
  min-width: 0px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top: -40px !important;
  height: 40px !important;
}

#titlebar {
  height: 40px !important;
}

/* Simplifying interface */

#nav-bar {
  background: none !important;
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

.titlebar-spacer {
  display: none !important;
}

#urlbar-background {
  border: none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow: none !important;
  background: none !important;
}

#identity-box {
  display: none !important;
}

.tab-close-button {
  display: none !important;
}

toolbarbutton {
  width: 36px !important;
  height: 36px !important;

  margin: 2px 2px 2px 2px !important;
}

.tab-background {
  margin: 0 !important;
}

.tabbrowser-tab {
  height: 32px !important;

  margin: 3px 0px 3px 0px !important;
}
