/* Import colorscheme */
@import "/home/alexe/.config/firefox/blur.css";
@import "/home/alexe/.config/firefox/const.css";

:root {
  --navbarWidth: 550px;
  --animationSpeed: 0.5s;
}

#back-button {
  display: none !important;
}

#forward-button {
  display: none !important;
}

#titlebar-spacer {
  display: none !important;
}

#browser-window-close-button {
  display: none !important;
}

#TabsToolbar>.titlebar-buttonbox-container {
  display: none !important;
}

#TabsToolbar>.titlebar-spacer {
  display: none !important;
}

#TabsToolbar {
  margin-right: var(--navbarWidth) !important;
}

.tab-close-button {
  display: none !important;
}

#nav-bar {
  margin-left: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
  min-width: 0px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top: -40px !important;
  height: 40px !important;
}

#PersonalToolbar {
  display: none !important;
}

:root {
  --tab-min-height: 0px !important;
  --inline-tab-padding: 0px !important;
  --tab-border-radius: 0px !important;
  --tab-shadow-max-size: 0px !important;
  --tab-block-margin: 0px !important;
}

:root {
  --toolbar-start-end-padding: 0px !important;
}

#fxa-toolbar-menu-button #bookmarks-menu-button #unified-extensions-button #PanelUI-menu-button {
  padding: 0 !important;
}

toolbar#nav-bar {
  padding-bottom: 4px !important;
}

.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 0px !important;
}

#navigator-toolbox {
  height: 40px !important;
}
